.team-arrow-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: #262220; /* your arrow color */
    font-size: 24px; /* optional size */
    background: none; /* remove any background */
    border-radius: 0; /* remove rounding */
    width: auto;      /* default size */
    height: auto;     /* default size */
}


.swiper-button-next::after,
.swiper-button-prev::after {
    color: #262220;  /* arrow icon color */
    font-size: 24px; /* size of the arrow */
}